#header {
    background-color: #000;
    background-image: url(%%DroneByNicotine%%);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #000;

    #header-bottom-left {
        position: relative;
        white-space: nowrap;

        .pagename {
            &.redditname {
                color: #FFF;
                display: inline-block;
                font-family: sans-serif, arial;
                font-size: 2em;
                height: $heightRedditName;
                margin-left: 34px;
                text-shadow: 0 0 10px #000;
                width: auto;

                > a {
                    color: #FFF;
                    font-family: verdana, DejaVu Sans, FreeSerif, arial, helvetica, sans-serif;
                    font-size: 3em;
                    line-height: $heightRedditName;
                    margin-right: 10px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        #header-img-a {
            display: inline-block;

            #header-img {
                margin: 5px 0 5px 30px;
            }
        }
    }
}
