#header {
    #sr-header-area {
        background-color: $barColour;
        border-bottom: 0;
        font-family: $font;
        font-size: 1.1em;

        @include shadow(0, 0, 6px, 5px, $barColour);

        .dropdown.srdrop {
            height: $heightSubBar;
            line-height: $heightSubBar;
            padding-left: 10px;

            @include transition($transition);

            &:hover {
                background-color: $highlightColour;

                .selected.title {
                    color: #FFF;
                }
            }

            .selected.title {
                background: 0;
                color: #FFF;
                padding-right: 5px;
                font-size: 1.3em;
                font-weight: bold;

                @include transition($transition);

                &:after {
                    content: '';
                    display: inline-block;
                    left: 8px;
                    position: relative;
                    top: 4px;

                    @include sprite($dropdown);
                }
            }
        }

        .width-clip {
            right: 300px; // width of user bar

            .sr-list {
                margin-right: 75px;

                ul {
                    li {
                        a {
                            color: #B3B3B3;
                            height: $heightSubBar;
                            line-height: $heightSubBar;
                            padding: 10px;


                            @include transition($transition);

                            &:hover {
                                background-color: $highlightColour;
                                color: #FFF;
                                text-decoration: none;
                            }
                        }

                        .separator {
                            display: none;
                        }

                        &.selected a {
                            color: #FFF;
                        }
                    }
                }

                .separator {
                    color: #EEE;
                }
            }

            .drop-choices {
                background-color: rgba(0,0,0,0.7);
                border: 0;

                a {
                    color: #EEE;
                    padding: 5px;

                    @include transition($transition);

                    &:hover {
                        background-color: $highlightColour;
                        color: #FFF;
                        text-decoration: none;
                    }
                }
            }

            // edit button
            #sr-more-link {
                background: 0;
                color: #B3B3B3;
                font-weight: 100;
                height: $heightSubBar;
                line-height: $heightSubBar;
                width: 50px;

                @include transition($transition);

                &:hover {
                    background-color: $highlightColour;
                    color: #FFF;
                    text-decoration: none;
                }
            }
        }

        .sr-bar {

            a {
                color: #FFF;
            }
        }
    }
}

body:not(.loggedin) {
    #header {
        #sr-header-area {
            .width-clip {
                right: 340px;
            }
        }
    }
}
