#header {
    #header-bottom-left {
        .tabmenu {
            background-color: $barColour;
            display: block;
            height: 35px;
            padding-left: 30px;

            @include shadow(0px, -6px, 6px, 5px, $barColour);

            li {
                display: inline-block;
                margin-left: 13px;
                margin-right: 13px;

                &.selected a {
                    border-bottom-color: #FFF;
                    color: #FFF;
                }

                a {
                    // border: 0 !important;
                    background: 0;
                    border: 0;
                    border-bottom: 2px solid transparent;
                    color: #B3B3B3;
                    display: table-cell;
                    font-family: $font;
                    font-size: 1.8em;
                    font-weight: normal;
                    height: $tabMenuHeight;
                    padding: 0 0 6px 0;
                    position: relative;
                    text-transform: uppercase;
                    vertical-align: middle;

                    @include transition($transition);

                    &:hover {
                        color: #FFF;
                    }
                }

                /* hide promoted tab - we don't have sponsors and we don't accept advertising! */
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
