#header {
    #header-bottom-right {
        // font-family: $font;
        background: 0;
        bottom: inherit;
        font-size: 1.2em;
        height: 23px;
        line-height: 23px;
        padding: 0;
        top: 0;

        .user,
        #mail,
        #modmail,
        #new_modmail,
        .pref-lang,
        .logout {
            margin-right: 10px;
        }

        a {
            color: #FFF;
            font-family: 'Courier New', Courier, FreeMono;
        }

        // .user {
        //     font-family: "Courier New", Courier, FreeMono;
        // }

        #mail {
            top: 4px;

            &.nohavemail {
                @include sprite($mail);
            }

            &.havemail {
                @include sprite($mail-green);
            }
        }

        .message-count {
            background: #C6EDAB;
            border-radius: 50%;
            color: #000;
            font-family: 'Courier New', Courier, FreeMono;
            font-family: consolas;
            font-size: 0.8em;
            height: $unreadMessagesSize;
            line-height: $unreadMessagesSize;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 80px; //subject to change when preferences, logout and mod mail are replaced.
            text-align: center;
            top: 13px;
            width: $unreadMessagesSize;
        }

        #new_modmail {
            &.nohavemail {
                @include sprite($modmail);
            }

            &.havemail {
                @include sprite($modmail-new-green);
            }
        }

        .separator {
            display: none;
        }

        // we'll hide the old modmail for now
        #modmail {
            display: none;
        }

        a.pref-lang {
            display: inline-block;
            position: relative;
            text-indent: -9999px;
            top: 2px;

            @include sprite($preferences);
        }

        .logout {
            a {
                display: inline-block;
                position: relative;
                text-indent: -9999px;
                font-size: 0;
                line-height: 25px;

                @include sprite($logout);
            }
        }
    }
}

body:not(.loggedin) {
    #header-bottom-right {
        .user {
            font-family: "Courier New", Courier, FreeMono;
            color: #FFF;

            .login-required {
                text-decoration: underline;
            }
        }
    }
}
