$barColour: rgba(0,0,0,0.7);
$font: Courier New, Courier, Times New Roman;
$heightRedditName: 183px;
$heightSubBar: 23px;
$highlightColour: rgba(84,84,84,0.7);
$tabMenuHeight: 24px;
$transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
$unreadMessagesSize: 15px;
