@mixin flair($name){
    .linkflair-#{$name} {
        @content
    }
}

@include flair(rantRadioTalk){
    
}

@include flair(rantRadioIndustrial){

}

@include flair(rantRadioPunk){

}

@include flair(rantTv){

}
