#siteTable {
    .thing {
        a {
            &.thumbnail.default {
                @include sprite($rantlogo-link-grey);
            }

            &.thumbnail.self {
                @include sprite($rantlogo-text-grey);
            }
        }

        &:hover {
            a {
                &.thumbnail.default {
                    @include sprite($rantlogo-link-black);
                }

                &.thumbnail.self {
                    @include sprite($rantlogo-text-black);
                }
            }
        }
    }
}
