body {

    background-image: url(%%wallpaper%%);
    background-color: #ccc;

    .promotedlink {

        display: none !important;
    }

    .content[role=main] {

        width: 69%;
        margin: .7%;
        padding: 5px;
        background-color: #FFF;
        box-shadow: $feedDropShadow;
        border-radius: 7px;

        .stickied.link {

            padding: 8px 0 8px 0;
            border-top: 0;
            background-color: #f5f5dc;
            margin: 0 5px 0 5px;
            border-radius: 0 0 8px 8px;

            &:first-child {

                margin-bottom: 0;
                border-radius: 8px 8px 0 0;
            }
        }

        .link {

            margin: 8px 0 8px 0;
        }
    }

    .footer-parent {

        .footer {

            background-color: #fff;
            box-shadow: $feedDropShadow;
        }
    }
}
