body {

    #ad_main_top,
    #ad_main {

        width: 100%;
        display: none;
    }

    .side {

        width: 27%;
        margin: .7%;
        padding: 5px;
        box-shadow: $feedDropShadow;
        border-radius: 7px;

        #search {

            input[type=text]{

                width: 100%;
            }
        }
    }
}
