@mixin fade($name, $color1, $color2){

    @keyframes #{$name} {
        0%{
            background-color: $color1;
        }
        100%{
            background-color: $color2;
        }
    }

}

@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
