/* cross-compatible box shadow */
@mixin shadow($hOffset, $vOffset, $bRadius, $sRadius, $colour){
    -moz-box-shadow: $hOffset $vOffset $bRadius $sRadius $colour;
    -webkit-box-shadow: $hOffset $vOffset $bRadius $sRadius $colour;
    box-shadow: $hOffset $vOffset $bRadius $sRadius $colour;
}
