/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$dropdown-green-name: 'dropdown-green';
$dropdown-green-x: 112px;
$dropdown-green-y: 120px;
$dropdown-green-offset-x: -112px;
$dropdown-green-offset-y: -120px;
$dropdown-green-width: 16px;
$dropdown-green-height: 16px;
$dropdown-green-total-width: 152px;
$dropdown-green-total-height: 136px;
$dropdown-green-image: '%%sprites%%';
$dropdown-green: (112px, 120px, -112px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'dropdown-green', );
$dropdown-red-name: 'dropdown-red';
$dropdown-red-x: 0px;
$dropdown-red-y: 120px;
$dropdown-red-offset-x: 0px;
$dropdown-red-offset-y: -120px;
$dropdown-red-width: 16px;
$dropdown-red-height: 16px;
$dropdown-red-total-width: 152px;
$dropdown-red-total-height: 136px;
$dropdown-red-image: '%%sprites%%';
$dropdown-red: (0px, 120px, 0px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'dropdown-red', );
$dropdown-name: 'dropdown';
$dropdown-x: 136px;
$dropdown-y: 0px;
$dropdown-offset-x: -136px;
$dropdown-offset-y: 0px;
$dropdown-width: 16px;
$dropdown-height: 16px;
$dropdown-total-width: 152px;
$dropdown-total-height: 136px;
$dropdown-image: '%%sprites%%';
$dropdown: (136px, 0px, -136px, 0px, 16px, 16px, 152px, 136px, '%%sprites%%', 'dropdown', );
$logout-green-name: 'logout-green';
$logout-green-x: 136px;
$logout-green-y: 16px;
$logout-green-offset-x: -136px;
$logout-green-offset-y: -16px;
$logout-green-width: 16px;
$logout-green-height: 16px;
$logout-green-total-width: 152px;
$logout-green-total-height: 136px;
$logout-green-image: '%%sprites%%';
$logout-green: (136px, 16px, -136px, -16px, 16px, 16px, 152px, 136px, '%%sprites%%', 'logout-green', );
$logout-red-name: 'logout-red';
$logout-red-x: 120px;
$logout-red-y: 0px;
$logout-red-offset-x: -120px;
$logout-red-offset-y: 0px;
$logout-red-width: 16px;
$logout-red-height: 16px;
$logout-red-total-width: 152px;
$logout-red-total-height: 136px;
$logout-red-image: '%%sprites%%';
$logout-red: (120px, 0px, -120px, 0px, 16px, 16px, 152px, 136px, '%%sprites%%', 'logout-red', );
$logout-name: 'logout';
$logout-x: 120px;
$logout-y: 16px;
$logout-offset-x: -120px;
$logout-offset-y: -16px;
$logout-width: 16px;
$logout-height: 16px;
$logout-total-width: 152px;
$logout-total-height: 136px;
$logout-image: '%%sprites%%';
$logout: (120px, 16px, -120px, -16px, 16px, 16px, 152px, 136px, '%%sprites%%', 'logout', );
$mail-green-name: 'mail-green';
$mail-green-x: 120px;
$mail-green-y: 32px;
$mail-green-offset-x: -120px;
$mail-green-offset-y: -32px;
$mail-green-width: 16px;
$mail-green-height: 16px;
$mail-green-total-width: 152px;
$mail-green-total-height: 136px;
$mail-green-image: '%%sprites%%';
$mail-green: (120px, 32px, -120px, -32px, 16px, 16px, 152px, 136px, '%%sprites%%', 'mail-green', );
$mail-red-name: 'mail-red';
$mail-red-x: 120px;
$mail-red-y: 48px;
$mail-red-offset-x: -120px;
$mail-red-offset-y: -48px;
$mail-red-width: 16px;
$mail-red-height: 16px;
$mail-red-total-width: 152px;
$mail-red-total-height: 136px;
$mail-red-image: '%%sprites%%';
$mail-red: (120px, 48px, -120px, -48px, 16px, 16px, 152px, 136px, '%%sprites%%', 'mail-red', );
$mail-name: 'mail';
$mail-x: 120px;
$mail-y: 64px;
$mail-offset-x: -120px;
$mail-offset-y: -64px;
$mail-width: 16px;
$mail-height: 16px;
$mail-total-width: 152px;
$mail-total-height: 136px;
$mail-image: '%%sprites%%';
$mail: (120px, 64px, -120px, -64px, 16px, 16px, 152px, 136px, '%%sprites%%', 'mail', );
$modmail-green-name: 'modmail-green';
$modmail-green-x: 120px;
$modmail-green-y: 80px;
$modmail-green-offset-x: -120px;
$modmail-green-offset-y: -80px;
$modmail-green-width: 16px;
$modmail-green-height: 16px;
$modmail-green-total-width: 152px;
$modmail-green-total-height: 136px;
$modmail-green-image: '%%sprites%%';
$modmail-green: (120px, 80px, -120px, -80px, 16px, 16px, 152px, 136px, '%%sprites%%', 'modmail-green', );
$modmail-new-green-name: 'modmail-new-green';
$modmail-new-green-x: 120px;
$modmail-new-green-y: 96px;
$modmail-new-green-offset-x: -120px;
$modmail-new-green-offset-y: -96px;
$modmail-new-green-width: 16px;
$modmail-new-green-height: 16px;
$modmail-new-green-total-width: 152px;
$modmail-new-green-total-height: 136px;
$modmail-new-green-image: '%%sprites%%';
$modmail-new-green: (120px, 96px, -120px, -96px, 16px, 16px, 152px, 136px, '%%sprites%%', 'modmail-new-green', );
$modmail-new-red-name: 'modmail-new-red';
$modmail-new-red-x: 136px;
$modmail-new-red-y: 32px;
$modmail-new-red-offset-x: -136px;
$modmail-new-red-offset-y: -32px;
$modmail-new-red-width: 16px;
$modmail-new-red-height: 16px;
$modmail-new-red-total-width: 152px;
$modmail-new-red-total-height: 136px;
$modmail-new-red-image: '%%sprites%%';
$modmail-new-red: (136px, 32px, -136px, -32px, 16px, 16px, 152px, 136px, '%%sprites%%', 'modmail-new-red', );
$modmail-new-name: 'modmail-new';
$modmail-new-x: 16px;
$modmail-new-y: 120px;
$modmail-new-offset-x: -16px;
$modmail-new-offset-y: -120px;
$modmail-new-width: 16px;
$modmail-new-height: 16px;
$modmail-new-total-width: 152px;
$modmail-new-total-height: 136px;
$modmail-new-image: '%%sprites%%';
$modmail-new: (16px, 120px, -16px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'modmail-new', );
$modmail-red-name: 'modmail-red';
$modmail-red-x: 32px;
$modmail-red-y: 120px;
$modmail-red-offset-x: -32px;
$modmail-red-offset-y: -120px;
$modmail-red-width: 16px;
$modmail-red-height: 16px;
$modmail-red-total-width: 152px;
$modmail-red-total-height: 136px;
$modmail-red-image: '%%sprites%%';
$modmail-red: (32px, 120px, -32px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'modmail-red', );
$modmail-name: 'modmail';
$modmail-x: 48px;
$modmail-y: 120px;
$modmail-offset-x: -48px;
$modmail-offset-y: -120px;
$modmail-width: 16px;
$modmail-height: 16px;
$modmail-total-width: 152px;
$modmail-total-height: 136px;
$modmail-image: '%%sprites%%';
$modmail: (48px, 120px, -48px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'modmail', );
$preferences-green-name: 'preferences-green';
$preferences-green-x: 64px;
$preferences-green-y: 120px;
$preferences-green-offset-x: -64px;
$preferences-green-offset-y: -120px;
$preferences-green-width: 16px;
$preferences-green-height: 16px;
$preferences-green-total-width: 152px;
$preferences-green-total-height: 136px;
$preferences-green-image: '%%sprites%%';
$preferences-green: (64px, 120px, -64px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'preferences-green', );
$preferences-red-name: 'preferences-red';
$preferences-red-x: 80px;
$preferences-red-y: 120px;
$preferences-red-offset-x: -80px;
$preferences-red-offset-y: -120px;
$preferences-red-width: 16px;
$preferences-red-height: 16px;
$preferences-red-total-width: 152px;
$preferences-red-total-height: 136px;
$preferences-red-image: '%%sprites%%';
$preferences-red: (80px, 120px, -80px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'preferences-red', );
$preferences-name: 'preferences';
$preferences-x: 96px;
$preferences-y: 120px;
$preferences-offset-x: -96px;
$preferences-offset-y: -120px;
$preferences-width: 16px;
$preferences-height: 16px;
$preferences-total-width: 152px;
$preferences-total-height: 136px;
$preferences-image: '%%sprites%%';
$preferences: (96px, 120px, -96px, -120px, 16px, 16px, 152px, 136px, '%%sprites%%', 'preferences', );
$rantlogo-link-black-name: 'rantlogo-link-black';
$rantlogo-link-black-x: 60px;
$rantlogo-link-black-y: 0px;
$rantlogo-link-black-offset-x: -60px;
$rantlogo-link-black-offset-y: 0px;
$rantlogo-link-black-width: 60px;
$rantlogo-link-black-height: 60px;
$rantlogo-link-black-total-width: 152px;
$rantlogo-link-black-total-height: 136px;
$rantlogo-link-black-image: '%%sprites%%';
$rantlogo-link-black: (60px, 0px, -60px, 0px, 60px, 60px, 152px, 136px, '%%sprites%%', 'rantlogo-link-black', );
$rantlogo-link-grey-name: 'rantlogo-link-grey';
$rantlogo-link-grey-x: 0px;
$rantlogo-link-grey-y: 60px;
$rantlogo-link-grey-offset-x: 0px;
$rantlogo-link-grey-offset-y: -60px;
$rantlogo-link-grey-width: 60px;
$rantlogo-link-grey-height: 60px;
$rantlogo-link-grey-total-width: 152px;
$rantlogo-link-grey-total-height: 136px;
$rantlogo-link-grey-image: '%%sprites%%';
$rantlogo-link-grey: (0px, 60px, 0px, -60px, 60px, 60px, 152px, 136px, '%%sprites%%', 'rantlogo-link-grey', );
$rantlogo-text-black-name: 'rantlogo-text-black';
$rantlogo-text-black-x: 60px;
$rantlogo-text-black-y: 60px;
$rantlogo-text-black-offset-x: -60px;
$rantlogo-text-black-offset-y: -60px;
$rantlogo-text-black-width: 60px;
$rantlogo-text-black-height: 60px;
$rantlogo-text-black-total-width: 152px;
$rantlogo-text-black-total-height: 136px;
$rantlogo-text-black-image: '%%sprites%%';
$rantlogo-text-black: (60px, 60px, -60px, -60px, 60px, 60px, 152px, 136px, '%%sprites%%', 'rantlogo-text-black', );
$rantlogo-text-grey-name: 'rantlogo-text-grey';
$rantlogo-text-grey-x: 0px;
$rantlogo-text-grey-y: 0px;
$rantlogo-text-grey-offset-x: 0px;
$rantlogo-text-grey-offset-y: 0px;
$rantlogo-text-grey-width: 60px;
$rantlogo-text-grey-height: 60px;
$rantlogo-text-grey-total-width: 152px;
$rantlogo-text-grey-total-height: 136px;
$rantlogo-text-grey-image: '%%sprites%%';
$rantlogo-text-grey: (0px, 0px, 0px, 0px, 60px, 60px, 152px, 136px, '%%sprites%%', 'rantlogo-text-grey', );
$spritesheet-width: 152px;
$spritesheet-height: 136px;
$spritesheet-image: '%%sprites%%';
$spritesheet-sprites: ($dropdown-green, $dropdown-red, $dropdown, $logout-green, $logout-red, $logout, $mail-green, $mail-red, $mail, $modmail-green, $modmail-new-green, $modmail-new-red, $modmail-new, $modmail-red, $modmail, $preferences-green, $preferences-red, $preferences, $rantlogo-link-black, $rantlogo-link-grey, $rantlogo-text-black, $rantlogo-text-grey, );
$spritesheet: (152px, 136px, '%%sprites%%', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
